In [1]:
import pandas as pd
city = pd.read_csv("citywalk.csv")
city

                City  Temperature  AirQualityIndex  Windy  GoWalk
0          Chongqing           31              190      1       0
1          Chongqing           28              160      0       0
2           Shanghai           27              140      1       0
3           Shanghai           25              120      0       0
4            Beijing           30              220      0       0
..               ...          ...              ...    ...     ...
65            Dallas           33              110      0       0
66            Denver           26               80      1       1
67  Ho Chi Minh City           30              130      1       0
68            Yangon           29              125      0       0
69        Phnom Penh           31              145      1       0

[70 rows x 5 columns]

In [3]:
import pandas as pd
city = pd.read_csv("citywalk.csv")

X = city.drop(columns=['City','GoWalk'])
X

    Temperature  AirQualityIndex  Windy
0            31              190      1
1            28              160      0
2            27              140      1
3            25              120      0
4            30              220      0
..          ...              ...    ...
65           33              110      0
66           26               80      1
67           30              130      1
68           29              125      0
69           31              145      1

[70 rows x 3 columns]

In [4]:
import pandas as pd
city = pd.read_csv("citywalk.csv")

X = city.drop(columns=['City','GoWalk'])
y = city['GoWalk']
y

0     0
1     0
2     0
3     0
4     0
     ..
65    0
66    1
67    0
68    0
69    0
Name: GoWalk, Length: 70, dtype: int64

In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

city = pd.read_csv("citywalk.csv")

X = city.drop(columns=['City','GoWalk'])
y = city['GoWalk']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = DecisionTreeClassifier()
model.fit(X_train, y_train)

predictions = model.predict(X_test)

score = accuracy_score(y_test, predictions)
precision = precision_score(y_test, predictions, average='weighted')
recall = recall_score(y_test, predictions, average='weighted')
f1 = f1_score(y_test, predictions, average='weighted')

print("Accuracy: ", score)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)

Accuracy:  0.9285714285714286
Precision: 0.935064935064935
Recall: 0.9285714285714286
F1 Score: 0.9251700680272109