In [1]:
import pandas as pd
play = pd.read_csv("playtennis.csv")
play

    Temperature  Humidity  Windy  PlayTennis
0            26        80      1           0
1            34        68      0           1
2            30        93      0           0
3            27        81      1           1
4            26        63      1           1
..          ...       ...    ...         ...
95           34        57      0           0
96           33        73      0           1
97           22        74      1           1
98           20        86      0           0
99           24        61      1           1

[100 rows x 4 columns]

In [3]:
import pandas as pd
play = pd.read_csv("playtennis.csv")

X = play.drop(columns=['PlayTennis'])
X

    Temperature  Humidity  Windy
0            26        80      1
1            34        68      0
2            30        93      0
3            27        81      1
4            26        63      1
..          ...       ...    ...
95           34        57      0
96           33        73      0
97           22        74      1
98           20        86      0
99           24        61      1

[100 rows x 3 columns]

In [4]:
import pandas as pd
play = pd.read_csv("playtennis.csv")

X = play.drop(columns=['PlayTennis'])
y = play['PlayTennis']
y

0     0
1     1
2     0
3     1
4     1
     ..
95    0
96    1
97    1
98    0
99    1
Name: PlayTennis, Length: 100, dtype: int64

In [18]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

play = pd.read_csv("playtennis.csv")

X = play.drop(columns=['PlayTennis'])
y = play['PlayTennis']

model = DecisionTreeClassifier()
model.fit(X, y)
predictions = model.predict([ [24, 65, 1], [36, 90, 0] ])
predictions

C:\Users\goswa\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1, 0])

In [3]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

play = pd.read_csv("playtennis.csv")

X = play.drop(columns=['PlayTennis'])
y = play['PlayTennis']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = DecisionTreeClassifier()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

score = accuracy_score(y_test, predictions)
precision = precision_score(y_test, predictions, average='weighted')
recall = recall_score(y_test, predictions, average='weighted')
f1 = f1_score(y_test, predictions, average='weighted')

print("Accuracy: ", score)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)

Accuracy:  0.7
Precision: 0.6866666666666668
Recall: 0.7
F1 Score: 0.6857142857142857